<h3 class="mb-3 mt-2 text-center"><a routerLink="" class="nav-link">Homeworks</a></h3>

<div class="container rounded p-3 bg-Purple-Navy d-flex justify-content-between">
    <h4 class="text-white">Employees Dashboard</h4>
    <button (click)="showForm = !showForm" [disabled]="showForm || readModal" class="btn btn-primary round">
        <i class="fa-solid fa-plus"></i> Add Employee
    </button>
</div>

<app-employees (getID)="readEditDelete($event)" [listOfEmployees]="employees" [showForm]="showForm"
    [readModal]="readModal"></app-employees>

<ng-container *ngIf="showForm">
    <app-form (cancelForm)="cancel()" (addEmployee)="post($event)" (employeeUpdate)="updateEmpl($event)"
        [(editForm)]="editForm" [editEmployeeData]="employee">
    </app-form>
</ng-container>

<ng-container *ngIf="readModal">
    <app-read [readEmployee]="employee" (close)="closeRead()"></app-read>
</ng-container>