<h3 class="mb-3 mt-2 text-center"><a routerLink="" class="nav-link">Homeworks</a></h3>
<div class="w-75 m-auto mt-5 d-flex flex-column">
    <div class="d-flex">
        <div class="container">
            <h5>From</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select"><img [src]="labelImage_1" alt="image"></label>
                </div>
                <select (change)="onChange($event)" class="custom-select" id="select">
                    <ng-container *ngFor=" let item of currencies; let i = index">
                        <ng-container *ngIf="i !== index">
                            <option [selected]="i === 64" [value]="item.abbreviation">
                                {{ item.abbreviation }} - {{ item.currency }}
                            </option>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="container">
            <h5>To</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select02"><img [src]="labelImage_2" alt="image"></label>
                </div>
                <select (change)="onChange($event)" class="custom-select" id="select_2">
                    <ng-container *ngFor=" let item of currencies; let i = index">
                        <ng-container *ngIf="i !== index2">
                            <option [selected]="i === 27" [value]="item.abbreviation">
                                {{ item.abbreviation }} - {{ item.currency }}
                            </option>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="d-flex">
            <div class="input-group container mt-5">
                <span class="input-group-text">{{ inputIcon_1 }}</span>
                <input formControlName="firstInput" (input)="onInput($event)" type="number" id="firstInput"
                    class="form-control" placeholder="Amount">
            </div>
            <div class="input-group container mt-5">
                <span class="input-group-text">{{ inputIcon_2 }}</span>
                <input formControlName="secondInput" (input)="onInput($event)" type="number" id="secondInput"
                    class="form-control" placeholder="Amount">
            </div>
        </div>
    </form>