<h3 class="mb-3 mt-2 text-center"><a routerLink="" class="nav-link">Homeworks</a></h3>
<div class="container mt-4">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a routerLink="user"
            class="d-flex align-items-center px-2 py-2 text-dark text-decoration-none border rounded bg-primary text-white">
            Users
        </a>

        <div class="col-md-1 text-end">
            <div><a routerLink="add" class="nav-link px-2 link-secondary border rounded bg-success text-white">Add
                    User</a>
            </div>
        </div>
    </header>
</div>

<router-outlet></router-outlet>