<div class="container col-md-5 my-5">
    <form [formGroup]="formGroup" class="">

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">

        </div>

        <div class=" mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" formControlName="password" class="form-control" id="Password" placeholder="Password">
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="Password" formControlName="confirmPassword" class="form-control" id="ConfirmPassword"
                placeholder="Confirm Password">
        </div>

        <div class="mb-3">
            <label for="Nickname" class="form-label">Nickname</label>
            <input type="text" formControlName="nickname" class="form-control" id="Nickname" placeholder="Nickname">
        </div>

        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" id="PhoneNumber"
                placeholder="Phone Number">
        </div>

        <div class="mb-3">
            <label for="Website" class="form-label">Website</label>
            <input type="url" formControlName="website" class="form-control" id="Website" placeholder="Website">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" formControlName="check" class="form-check-input" id="check">
            <label class="form-check-label" for="check">I have read the <a href="#">agreement</a></label>
        </div>

        <div class="col-3 mx-auto mt-3">
            <button (click)="add()"
                [disabled]="formGroup.invalid || formGroup.value.password !== formGroup.value.confirmPassword"
                class="btn btn-primary" type="submit">Submit
                form</button>
        </div>

    </form>
</div>