<div class="container col-md-5 my-5">
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" class="form-control" id="Password" placeholder="Password">
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="Password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
        </div>

        <div class="mb-3">
            <label for="Nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="Nickname" placeholder="Nickname">
        </div>

        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="PhoneNumber" placeholder="Phone Number">
        </div>

        <div class="mb-3">
            <label for="Website" class="form-label">Website</label>
            <input type="url" class="form-control" id="Website" placeholder="Website">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="check">I have read the <a href="#">agreement</a></label>
        </div>

        <div class="col-3 mx-auto mt-3">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>