<ng-container *ngIf="usersList.length else notFound">
    <div class="border rounded mt-5 mx-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Confirm Password</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Website</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let user of usersList">
                    <tr>
                        <td>{{user.email}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.confirmPassword}}</td>
                        <td>{{user.nickname}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.website}}</td>
                        <td>
                            <button [routerLink]="['/form/edit']" [queryParams]="user"
                                class="btn btn-warning btn-sm mx-2"><i class="fa-solid fa-edit"></i> edit</button>
                            <button (click)="delate(user)" class="btn btn-danger btn-sm"><i
                                    class="fa-solid fa-trash-can"></i>
                                delate</button>
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>


    </div>
</ng-container>

<ng-template #notFound>
    <div class="container mt-5">
        <p class="text-center">Users not found</p>
    </div>
</ng-template>